<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Here is the timeline of how Genixers began and expanded</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                              <h4>Let the <br>journey <br>begin</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>January 2017</h4>
                                    <h4 class="subheading">Began Our Journey</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">After some extensive evaluation of the market we identified our position and began our journey to become one of the key players in the world's trading marketplace. We formed the company in the heart of Houston, Texas and based on our strong team with decades of business development experience and years of mobile and digital market expertise in USA, Europe and Middle East.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                              <h4>Setting a great <br>start</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2017</h4>
                                    <h4 class="subheading">Our Way</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Many our great leads set us to a very sucessful and fast pasing start. We set a great start already by securing multiple trade in Europe.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
